@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url("logo2.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(0, 0, 0, 0.735);
}
.nav{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6) transparent);
    z-index: 100;
}
.nav-logo img{
    width: 180px;
    position: relative;
    margin-left: -70px;
}
.nav-logo p{
    color: aliceblue;
    font-size: 25px;
    font-weight: 600;
    
}
.nav-menu ul{
    display: flex;
    margin-left: 330px;
}
.nav-menu ul li{
    list-style-type: none;
    font-size: x-large;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: azure;
    padding-bottom: 1px;
    margin: 0 10px;
    
}
.link:hover {
    border-bottom: 2px solid white;
    font-size: 25px;
}
.nav-button .Btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: whitesmoke;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    margin-left: 15px;
}
.Btn:hover{
    background: rgba(27, 24, 24, 0.24);
    width: 160px;
    height: 50px;
    color: whitesmoke;
}
.registerBtn{
    margin-left: 15px;
}
.Btn.white-btn{
    background: whitesmoke;
}
.Btn.Btn.white-btn:hover{
    background: rgba(27, 24, 24, 0.24);
    width: 160px;
    height: 50px;
    color: whitesmoke;
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 420px;
   overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: azure;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: azure;
    margin-left: 5px;
}
header{
    color: azure;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 40px;
    width: 472px;
}
.input-field{
    position: relative;
    font-size: 15px;
    background: rgba(7, 7, 7, 0.717);
    color: white;
    height: 50px;
    width:  90%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.409);
}
::-webkit-input-placeholder{
       color: azure;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: white;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(235, 228, 228, 0.886);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(28, 28, 28, 0.612);
    color: aliceblue;
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: white;
}
.two label a:hover{
    text-decoration: underline;
}










/* 600px, 601px, 768px, 992px, 1200px */